@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");

body,
html {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(to left bottom, #49a09d, #5f2c82);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
